{% extends "template.html" %}
{% block content %}
    <form action="/edit/{{macros.id}}" class="container" method="post"><br>
        <h1 class="text-center">Editar {{macros.nome}} </h1><br>
        <div class="row">
            <div class="col-sm-6">
                <input type="text" name="nome" id="nome" placeholder="nome" class="form-control" value="/edit/{{macros.nome}}">
            </div>
            <div class="col-sm-6">
                    <input type="text" name="macro" id="macro" placeholder="macro" class="form-control" value="/edit/{{macros.macro}}">
            </div>
        </div>
        <br>
        <div class="row col-sm-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block">enviar</button>
        </div>
    </form>
{% endblock %}