{% extends "template.html" %}
{% block content %}
    <div class="container-fluid">
    <h1 class="text-center aqua">Macros</h1></div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="/add">Adicionar macro </a>
            </div>
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead class="thead">
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Macro</th>
                        <th class="text-center">Ações</th>
                    </tr>  
                    </thead>
                    <tbody>
                    {% for e in macros %}
                    <tr>
                        <td>{{e.nome}}</td>
                        <td>{{e.macro}}</td>
                        <td>
                            <a  href="/edit/{{e.id}}">Editar</a>
                            <a  href="#" onclick="deleteMacro({{e.id}})">Excluir </a>
                            <a  href="#" onclick="copyMacro('{{e.macro}}')">Copiar </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}