{% extends "template.html" %}
{% block content %}
    <div class="caixa2">
        <div class="row2">
            <button class="add1"></button>
        {% for e in macros %}
            <div class="caixa1">
                <button type="button" class="btn btn-outline-primary btn-sm"  href="/edit/{{e.id}}">
                    <a  href="/edit/{{e.id}}">Editar</a>
                </button>
                <button type="button" class="btn btn-outline-success btn-sm" onclick="copyMacro('{{e.macro}}')">Copiar</button>
                <button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteMacro({{e.id}})">Excluir</button><br>
                <h1>{{e.nome}}</h1>
                <p>{{e.macro}}</p>
            </div>  
        {% endfor %}
    </div>
       
        <!-- <div class="row">
            <div class="col-sm-12">
                <a href="/add">Adicionar macro </a>
            </div>
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead class="thead">
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Macro</th>
                        <th class="text-center">Ações</th>
                    </tr>  
                    </thead>
                    <tbody>
                    {% for e in macros %}
                    <tr>
                        <td>{{e.nome}}</td>
                        <td>{{e.macro}}</td>
                        <td>
                            <a  href="/edit/{{e.id}}">Editar</a>
                            <a  href="#" onclick="deleteMacro({{e.id}})">Excluir </a>
                            <a  href="#" onclick="copyMacro('{{e.macro}}')">Copiar </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
{% endblock %}