{% extends "template.html" %}
{% block content %}
    <div class="col-sm-12">
        <a href="/add">Adicionar macro </a>
    </div>
    
    <div class="container">
        <div class="row">
                {% for e in macros %}
                <div class="col-sm-3">
                    <div class="caixa1">
                        <h2>{{e.nome}}</h2>
                        <p>{{e.macro}}</p>
                        <button type="button" class="btn btn-outline-primary btn-sm">
                            <a  href="/edit/{{e.id}}">Editar</a>
                        </button>
                        <button type="button" class="btn btn-outline-success btn-sm">
                            <a  class="black" href="#" onclick="copyMacro('{{e.macro}}')">Copiar </a>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm">
                            <a  class="black" href="#" onclick="deleteMacro({{e.id}})">Excluir </a>
                        </button><br>
                    </div>
                </div><br>
                {% endfor %}
        </div>

        
        <!-- <div class="row">
            <div class="col-sm-12">
                <a href="/add">Adicionar macro </a>
            </div>
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead class="thead">
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Macro</th>
                        <th class="text-center">Ações</th>
                    </tr>  
                    </thead>
                    <tbody>
                    {% for e in macros %}
                    <tr>
                        <td>{{e.nome}}</td>
                        <td>{{e.macro}}</td>
                        <td>
                            <a  href="/edit/{{e.id}}">Editar</a>
                            <a  href="#" onclick="deleteMacro({{e.id}})">Excluir </a>
                            <a  href="#" onclick="copyMacro('{{e.macro}}')">Copiar </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
{% endblock %}